# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=cdc_project
PG_USER=saif
PG_PASSWORD=replace_me
PG_SCHEMA=cdc_schema

# Snowflake
SNOWFLAKE_ACCOUNT=replace_me
SNOWFLAKE_USER=replace_me
SNOWFLAKE_PASSWORD=replace_me
SNOWFLAKE_WAREHOUSE=replace_me
# SNOWFLAKE_ROLE=replace_me
SNOWFLAKE_DATABASE=CDC_DATABASE
SNOWFLAKE_SCHEMA=RAW_DATA

# Ingestion
INGESTION_BATCH_SIZE=1000
INGESTION_OVERLAP_MINUTES=5
INGESTION_ADVISORY_LOCK_ID=723303724
INGESTION_LOG_LEVEL=INFO
